openapi: 3.1.0
info:
  title: Metals.Dev Account Currency API
  description: Metals.Dev provides a developer-friendly JSON API for spot prices of precious metals, industrial metals, and currency conversion rates. It offers real-time prices from leading authorities including LBMA, LME, MCX, and IBJA, plus 5+ years of historical data.
  version: '1.0'
  contact:
    name: Metals.Dev
    url: https://metals.dev/
  license:
    name: Proprietary
    url: https://metals.dev/terms
servers:
- url: https://api.metals.dev/v1
  description: Production
security:
- apiKey: []
tags:
- name: Currency
  description: Currency rates and conversions.
paths:
  /currencies:
    get:
      summary: Get currency rates
      description: Returns supported currency conversion rates.
      operationId: getCurrencies
      tags:
      - Currency
      parameters:
      - name: base
        in: query
        description: Base currency for conversion.
        schema:
          type: string
      responses:
        '200':
          description: Currency rates.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CurrenciesResponse'
components:
  schemas:
    CurrenciesResponse:
      allOf:
      - $ref: '#/components/schemas/BaseResponse'
      - type: object
        properties:
          currencies:
            type: object
            additionalProperties:
              type: number
    BaseResponse:
      type: object
      properties:
        status:
          type: string
        currency:
          type: string
        unit:
          type: string
        timestamp:
          type: string
          format: date-time
        error_code:
          type: integer
        error_message:
          type: string
  securitySchemes:
    apiKey:
      type: apiKey
      in: query
      name: api_key
